ion-header-bar.bar-positive
  .buttons
    button.button.button-icon.icon.ion-ios-minus-outline
  h1.title Ionic Delete/Option Buttons
  .buttons
    button.button
      | Reorder
ion-content
  h1.center hello